.container {
    min-height: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.row {
    background-color: rgb(58, 179, 203);
    border-radius: 15px 50px 30px 5px;
}

a {
    color: white;
    text-decoration: none;
}