



<div>
    <nav class="navbar navbar-expand-lg bg-dark">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a [routerLink]="'/perfil-usuario'" class="nav-link navbar-item">Ver usuario</a>
                    <a class="nav-link disabled">Menú principal</a>
                    <a [routerLink]="'/menu-alimentos'" class="nav-link navbar-item" >Alimentos</a>
                    <a [routerLink]="'/menu-ejercicios'" class="nav-link navbar-item">Ejercicios</a>
                    <a [routerLink]="'/login'" class="nav-link navbar-item">Salir</a>
                </div>
            </div>
        </div>
    </nav>
    <div class="container my-5 justify-content-center">
        <div class="row">
            <div class="dato col-4 ">
                <h2>Estadísticas</h2>
                <ul>
                    <li>Alimentos consumidos:</li>
                    <li>Ejercicios completados:</li>
                    <li>Calorías consumidas estimadas del día:</li>
                    <li>Calorías quemadas estimadas del día: </li>
                </ul>
            </div>
    
            <div class="nada col-1"></div>
    
            <div class="dato col-3">
                <h2>Alimentos recientes</h2>
                <ul>
                    <li>Alimento: Manzana.</li>
                    <li>Calorías estimadas: 84.</li>
                </ul>
            </div>
    
            <div class="nada col-1"></div>
    
            <div class="dato col-3 " height="100%">
                <h2>Ejercicios completados</h2>
                <ul>
                    <li>Ejercicio: Sentadillas.</li>
                    <li>Calorías quemadas estimadas: 126.</li>
                </ul>
            </div>
        </div>
    </div>
    
    

</div>
