<nav class="navbar navbar-expand-lg bg-dark">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link disabled">Ver usuario</a>
                <a [routerLink]="'/menu-principal'" class="nav-link navbar-item">Menú principal</a>
                <a [routerLink]="'/menu-alimentos'" class="nav-link navbar-item">Alimentos</a>
                <a [routerLink]="'/menu-ejercicios'" class="nav-link navbar-item">Ejercicios</a>
                <a [routerLink]="'/login'" class="nav-link navbar-item">Salir</a>
            </div>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h5>Perfil del usuario</h5>
                </div>
                <div class="card-body custom-datatable noscroll">
                    <p class="float-left">Avatar</p>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Nombre: {{user.firstName}}</th>
                                    <th scope="col">Apellido: {{user.lastName}}</th>
                                    <th scope="col">Mail: {{user.email}}</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>