<div>
    <div class="container">
        <div class="row">
            <form class="theme-form" [formGroup]="loginForm">
                <div class="mb-5">
                    <label for="email" class="form-label"></label>
                    <input formControlName="email" type="text" name="email" class="form-control"  id="email"  placeholder="Correo"/>
                </div>
                <div class="mb-5">
                    <label for="password" class="form-label"></label>
                    <input formControlName="password" type="password" name="password" class="form-control" id="password" placeholder="Contraseña" />
                </div>
                <div class="mb-4">
                    <p class = "btn btn-success">
                        <a class="nav-link"  (click)="login()">Ingresar</a>
                    </p>
                </div>
                <div class="mb-4">
                    <p class="btn btn-secondary">
                        <a class="nav-link" [routerLink]="'/register'">Registrarse</a>
                    </p>   
                </div>
            </form>
        </div>
    </div>
</div>
