<div>
    <nav class="navbar navbar-expand-lg bg-dark">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a [routerLink]="'/perfil-usuario'" class="nav-link navbar-item">Ver usuario</a>
                    <a [routerLink]="'/menu-principal'" class="nav-link navbar-item">Menú principal</a>
                    <a [routerLink]="'/menu-alimentos'" class="nav-link navbar-item">Alimentos</a>
                    <a class="nav-link disabled">Ejercicios</a>
                    <a [routerLink]="'/login'" class="nav-link navbar-item">Salir</a>
                </div>
            </div>
        </div>
    </nav>
    <div class="container justify-content-center">
        <div class="row">
            <div class="work col-5 mb-5">
                <h1>Recomendación diaria</h1>
                <ul>
                    <li>Actividad</li>
                    <li>Nombre:</li>
                    <li>Tiempo (en minutos):</li>
                </ul>
            </div>
    
            <div class="nada col-2"></div>
    
            <div type="button" class="work col-5 mb-5">
                <h1>Historial de ejericicios</h1>
                <button type="button" class="btn btn-success float-end" id="buttonFood">
                    <a [routerLink]="'/edit-ejercicios'" >Modificar</a>
                </button>
                <ul *ngFor="let ejercicio of ejercicios">
                    <li>Ejercicio</li>
                    <li>Nombre: {{ejercicio.name}}</li>
                    <li>Calorias: {{ejercicio.calorieCount}}</li>
                </ul>
            </div>
        </div>
    </div>
</div>