<!-- Jquery -->
<script src="deps/jquery-3.6.1.min.js" 
    integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
    crossorigin="anonymous"></script>

<!-- PopperJS -->
<script src="deps/popper.min.js" 
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
    crossorigin="anonymous"></script>

<!-- Bootstrap -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" 
    rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
    crossorigin="anonymous">


<div>
    <nav class="navbar navbar-expand-lg bg-dark">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a [routerLink]="'/perfil-usuario'" class="nav-link navbar-item">Ver usuario</a>
                    <a [routerLink]="'/menu-principal'" class="nav-link navbar-item">Menú principal</a>
                    <a class="nav-link disabled">Alimentos</a>
                    <a [routerLink]="'/menu-ejercicios'" class="nav-link navbar-item">Ejercicios</a>
                    <a [routerLink]="'/login'" class="nav-link navbar-item">Salir</a>
                </div>
            </div>
        </div>
    </nav>
    <div class="container center justify-content-center">
        <div class="row">
            <div class="work col-5 mb-5">
                <h1>Recomendación diaria</h1>
                <ul >
                    <li>Alimento</li>
                    <li>Nombre:</li>
                    <li>Calorias:</li>
                </ul>
            </div>
    
            <div class="nada col-2"></div>
    
            <div class="work col-5 mb-5">
                <h1>Listado de alimentos</h1>
                <button type="button" class="btn btn-success float-end" id="buttonFood">
                    <a [routerLink]="'/edit-alimentos'">Modificar</a>
                </button>
                <ul *ngFor="let comida of comidas">
                    <li>Alimento</li>
                    <li>Nombre: {{comida.name}}</li>
                    <li>Calorias: {{comida.calorieCount}}</li>
                </ul>
            </div>
        </div>
    </div>
</div>