<nav class="navbar navbar-expand-lg bg-dark">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a [routerLink]="'/perfil-usuario'" class="nav-link navbar-item">Ver usuario</a>
                <a [routerLink]="'/menu-principal'" class="nav-link navbar-item">Menu principal</a>
                <a [routerLink]="'/menu-alimentos'" class="nav-link navbar-item">Alimentos</a>
                <a [routerLink]="'/menu-ejercicios'" class="nav-link disabled">Ejercicios</a>
                <a [routerLink]="'/login'" class="nav-link navbar-item">Salir</a>
            </div>
        </div>
    </div>
</nav>
<div class="container">
    <div class="row">
        <form class="theme-form" [formGroup]="loginForm">
            <div class="mb-5">
                <label for="excercise" class="form-label"></label>
                <input formControlName="name" type="text" name="excercise" class="form-control" id="exc"
                    placeholder="Ejercicio" />
            </div>
            <div class="mb-5">
                <label for="calorieCount" class="form-label"></label>
                <input formControlName="calorieCount" type="text" name="calorieCount" class="form-control" id="cal"
                    placeholder="Calorías quemadas estidamas" />
            </div>
            <div class="mb-4">
                <p class="btn btn-secondary">
                    <a class="nav-link" (click)="addExcercice()">Añdir</a>
                </p>
            </div>
            <div class="mb-4">
                <p class="btn btn-secondary">
                    <a class="nav-link" [routerLink]="'/menu-ejercicios'">Regresar</a>
                </p>
            </div>
        </form>
    </div>
</div>
