/* You can add global styles to this file, and also import other style files */
body{
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(97, 9, 121, 1) 32%, rgba(0, 212, 255, 1) 100%);
}

button a {
    text-decoration: none;
    color: white;
}