<!-- Jquery -->
<script src="deps/jquery-3.6.1.min.js" 
    integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
    crossorigin="anonymous"></script>

<!-- PopperJS -->
<script src="deps/popper.min.js" 
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
    crossorigin="anonymous"></script>
<!-- Bootstrap -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" 
    rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" 
    crossorigin="anonymous">


<div class="container">
    <div class="row">
        <form class="theme-form" [formGroup]="loginForm">
            <div>
                <label for="nombre" class="form-label"></label>
                <input formControlName="name" type="text" class="form-control" id="name" placeholder="Nombre" />
            </div>
            <div>
                <label for="apellido" class="form-label"></label>
                <input formControlName="lastName" type="text" class="form-control" id="lastname" placeholder="Apellido" />
            </div>
            <div>
                <label for="correo" class="form-label"></label>
                <input formControlName="email" type="email" class="form-control" id="email" placeholder="Correo" />
            </div>
            <div>
                <label for="password" class="form-label"></label>
                <input formControlName="password" type="password" class="form-control" id="password" placeholder="Contraseña" />
            </div>
            <div>
                <label for="repetir-password" class="form-label"></label>
                <input formControlName="repeatPassword" type="password" class="form-control" id="password2" placeholder="Repita la contraseña" />
            </div>
            <div>
                <label for="peso" class="form-label"></label>
                <input formControlName="weight" type="weight" class="form-control" id="weight"
                    placeholder="Su peso en kilogramos" />
            </div>
            <div class="my-4">
                <p class="btn btn-primary">
                    <a class="nav-link" [routerLink]="'/login'" (click)="doRegister()">Registrarse</a>
                </p>
            </div>
        </form>
    </div>
</div>